{{- define "cli_examples" -}}
{{- if . }}

## Example Usage

<!-- chooser: language -->
{{ range . -}}
<!-- option: {{ .Tag }} -->

{{ .Title }}

{{ .Snippet }}

<!-- /option -->
{{ end -}}
<!-- /chooser -->
{{- end -}}
{{- end -}}
