# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.

# Review from code owners will be requested automatically, and approval from one
# will be required to merge pull requests in protected areas.

# Changes to this file itself require sign-off
CODEOWNERS @komalali @mjeffryes @iwahbe

# Community packages.
/community-packages/ @pulumi/iac-cloud
