{{ $type := .Get 0 }}
{{ $values := .Get 1 }}
{{ $mode := .Get 2 }}
{{ if eq $values "nodejs" }}
    {{ $values = "javascript,typescript" }}
{{ end }}

{{ if not $type }}
    {{ errorf "%s Missing required parameter 'type'." .Page }}
{{ end }}

{{ if not $values }}
    {{ errorf "%s Missing required parameter 'values." .Page }}
{{ end }}

{{/* Check if this page needs SoftwareSourceCode annotations using centralized config */}}
{{ $experimentConfig := partial "registry/experiment-config.html" . }}
{{ $variantAPages := $experimentConfig.variantA }}
{{ $variantBPages := $experimentConfig.variantB }}
{{ $needsStructuredData := false }}
{{ $currentPath := .Page.RelPermalink }}

{{ range $variantAPages }}
    {{ if strings.Contains $currentPath . }}
        {{ $needsStructuredData = true }}
    {{ end }}
{{ end }}

{{ range $variantBPages }}
    {{ if strings.Contains $currentPath . }}
        {{ $needsStructuredData = true }}
    {{ end }}
{{ end }}

{{/* Only add SoftwareSourceCode annotations for language choosables on experiment pages */}}
{{ if and $needsStructuredData (eq $type "language") }}
    {{/* Extract metadata from page parameters */}}
    {{ $titleTag := .Page.Params.title_tag | default "" }}
    {{ $packageName := "azure-native" }}
    {{ $moduleName := "" }}
    {{ $resourceName := "" }}
    
    {{ if $titleTag }}
        {{ $parts := split $titleTag "." }}
        {{ if eq (len $parts) 3 }}
            {{ $packageName = index $parts 0 }}
            {{ $moduleName = index $parts 1 }}
            {{ $resourceName = index $parts 2 }}
        {{ else if eq (len $parts) 2 }}
            {{/* Module index pages like azure-native.maps */}}
            {{ $packageName = index $parts 0 }}
            {{ $moduleName = index $parts 1 }}
            {{ $resourceName = "" }}
        {{ else if eq (len $parts) 1 }}
            {{/* Top-level package page */}}
            {{ $packageName = index $parts 0 }}
            {{ $moduleName = "" }}
            {{ $resourceName = "" }}
        {{ else }}
            {{ warnf "Unexpected title_tag format at %s: %s" .Page.RelPermalink $titleTag }}
        {{ end }}
    {{ else }}
        {{ warnf "No title_tag found for page %s, using defaults" .Page.RelPermalink }}
    {{ end }}
    
    {{/* Format module and resource names for display */}}
    {{ $moduleDisplay := $moduleName | humanize | title }}
    {{ $resourceDisplay := $resourceName | humanize | title }}
    
    {{/* Map language values to display names */}}
    {{ $langDisplay := "" }}
    {{ if eq $values "typescript" }}
        {{ $langDisplay = "TypeScript" }}
    {{ else if eq $values "python" }}
        {{ $langDisplay = "Python" }}
    {{ else if eq $values "go" }}
        {{ $langDisplay = "Go" }}
    {{ else if eq $values "csharp" }}
        {{ $langDisplay = "C#" }}
    {{ else if eq $values "java" }}
        {{ $langDisplay = "Java" }}
    {{ else if eq $values "yaml" }}
        {{ $langDisplay = "YAML" }}
    {{ else if eq $values "javascript" }}
        {{ $langDisplay = "JavaScript" }}
    {{ else if eq $values "javascript,typescript" }}
        {{ $langDisplay = "JavaScript/TypeScript" }}
    {{ else }}
        {{ $langDisplay = $values | title }}
    {{ end }}
    
    <div>
        <pulumi-choosable type="{{ $type }}" values="{{ $values }}" mode="{{ $mode }}">
            <div itemscope itemtype="https://schema.org/SoftwareSourceCode">
                <meta itemprop="name" content="Azure {{ $moduleDisplay }} {{ $resourceDisplay }} - {{ $langDisplay }} Example" />
                <meta itemprop="description" content="Pulumi {{ $langDisplay }} code example for creating and managing Azure {{ $moduleDisplay }} {{ $resourceDisplay }} resources using Infrastructure as Code" />
                <meta itemprop="programmingLanguage" content="{{ $langDisplay }}" />
                <meta itemprop="codeSampleType" content="code snippet" />
                <meta itemprop="keywords" content="Azure, {{ $moduleDisplay }}, {{ $resourceDisplay }}, Pulumi, Infrastructure as Code, IaC, {{ $langDisplay }}, Cloud, DevOps" />
                <meta itemprop="runtimePlatform" content="Microsoft Azure" />
                <meta itemprop="targetProduct" content="Pulumi Infrastructure as Code Platform" />
                <meta itemprop="codeRepository" content="https://github.com/pulumi/pulumi-{{ $packageName }}" />
                <meta itemprop="license" content="https://github.com/pulumi/pulumi-{{ $packageName }}/blob/master/LICENSE" />
                <meta itemprop="author" content="Pulumi" />
                <div itemprop="text">
                    {{ .Inner }}
                </div>
            </div>
        </pulumi-choosable>
    </div>
{{ else }}
    {{/* Original output without SoftwareSourceCode annotations */}}
    <div>
        <pulumi-choosable type="{{ $type }}" values="{{ $values }}" mode="{{ $mode }}">{{ .Inner }}</pulumi-choosable>
    </div>
{{ end }}