.idea/
_vendor
node_modules
/resources
themes/*/resources
themes/default/assets
public
.DS_Store
.hugo_build.lock
.vscode
cypress/videos
cypress/screenshots
tools/resourcedocsgen/resourcedocsgen
ctrf/
bin
.make
mise.local.toml