
{{ define "main" }}
<div class="container flex flex-row mx-auto px-4 pb-8 mt-4">
    <div class="flex-col min-w-0">
        {{ partial "registry/package/header.html" . }}
        <div class="lg:flex">
            <div class="xxl:w-8/12">
                <!--Don't show the title in the top-most index page.-->
                {{ if not (in .Page.File "api-docs/_index.md") }}
                    {{ if and (.Params.h1) (not .Params.notitle) }}
                        <h1>{{ .Params.h1 }}</h1>
                    {{ else if and (ne .Title "") (not .Params.notitle) }}
                        <h1 class="break-words">{{ .Params.title_tag }}</h1>
                    {{ end }}
                {{ else if (in .Page.File "api-docs/_index.md")}}
                    <h1>{{ .Params.title }}: API Docs</h1>
                {{ end }}
                <section data-swiftype-index="true" class="lg:-mt-2">
                    {{ .Content }}
                </section>
            </div>
            <div class="flex-shrink-0 pr-8 mb-2 pt-8 lg:order-first lg:pt-0 lg:mt-0">
                <div class="sticky-sidebar left-nav">
                    <div class="hidden lg:block mb-6">
                        {{ partial "registry/left-nav.html" . }}
                    </div>
                    <div>
                        {{ partial "docs/toc.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:3/12 lg:pl-8 hidden xxl:block" style="max-width: 410px">
        <div class="sticky-sidebar h-full">
            <div class="flex flex-col ml-2 h-full overflow-hidden">
                {{ partial "registry/package/right-nav.html" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}
