
{{ define "main" }}
<div class="container mx-auto px-4 py-8 mt-2">
    {{ partial "registry/header.html" . }}

    <div class="lg:flex">

        <div class="lg:w-6/12 lg:px-4">
            {{ partial "docs/breadcrumb.html" . }}

            {{ $basedir := path.Base .File.Dir }}
            {{ $input := path.Join "docs/reference/pkg/" $basedir }}
            {{ with .GetPage $input }}{{ .Content }}{{ end }}
        </div>

        <div class="lg:w-3/12 lg:pl-8">
            <div class="sticky-sidebar">
                <div class="ml-2 hidden lg:block">
                    {{ partial "registry/right-nav.html" . }}
                </div>
            </div>
        </div>

        <div class="lg:w-3/12 pr-8 mb-2 pt-8 lg:order-first lg:pt-0 lg:mt-0">
            <div class="sticky-sidebar">
                <div class="lg:mt-1 mb-6">
                    {{ partial "docs/search.html" . }}
                </div>
                <div>
                    {{ partial "docs/toc.html" . }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}