
{{ define "main" }}
    <div class="container mx-auto px-4 py-8 mt-2">
        {{ partial "registry/package/header.html" . }}

        <div class="lg:flex">
            <div class="lg:w-6/12">
                {{ .Content }}
            </div>

            <div class="lg:w-3/12 lg:pl-8">
                <div class="sticky-sidebar">
                    <div class="ml-2 hidden lg:block">
                        {{ partial "registry/package/right-nav.html" . }}
                    </div>
                </div>
            </div>

            <div class="lg:w-3/12 pr-8 mb-2 pt-8 lg:order-first lg:pt-0 lg:mt-0">
                <div class="sticky-sidebar left-nav">
                    <div class="lg:mt-1 mb-6">
                        {{ partial "registry/left-nav.html" . }}
                    </div>
                    <div>
                        {{ partial "docs/toc.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
