<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
    {{ partial "head.html" . }}

    <body class="section-{{ .Section }}">
        <pulumi-root></pulumi-root>
        {{ partial "docs-top-nav" . }}
        <div class="header-container docs-hero">
            <span class="hide-on-pinned"> </span>
            <script>
                (function (w, d, t, u, n, s, e) {
                    w["SwiftypeObject"] = n;
                    w[n] =
                        w[n] ||
                        function () {
                            (w[n].q = w[n].q || []).push(arguments);
                        };
                    s = d.createElement(t);
                    e = d.getElementsByTagName(t)[0];
                    s.async = 1;
                    s.src = u;
                    e.parentNode.insertBefore(s, e);
                })(window, document, "script", "//s.swiftypecdn.com/install/v2/st.js", "_st");
    
                _st("install", "xxxQB1LC9DE212h8eJmh", "2.0.0");
            </script>
            {{ .Scratch.Set "mode" "docs" }}
            {{ partial "docs/search.html" . }}
        </div>

        {{ block "hero" . }}
        {{ end }}
        <main>
            {{ block "main" . }}
            {{ end }}
        </main>

        {{ block "footer" . }}
            {{ partial "footer.html" . }}
            <noscript>
                <img src="https://ws.zoominfo.com/pixel/61f9917376ed81001a80e653" width="1" height="1" style="display: none;" />
            </noscript>
        {{ end }}
    </body>
</html>
