{{ define "main" }}
    <div class="container mx-auto px-4 pb-8 mt-2">
        {{ partial "registry/package/header.html" . }}

        <div class="lg:flex">
            <div class="lg:w-9/12">
                {{ if not (in .Page.File "how-to-guides/_index.md") }}
                    <div class="lg:flex">
                        {{ partial "registry/package/how-to-guides/breadcrumb.html" . }}
                    </div>
                    <h1>{{ .Params.h1 }}</h1>
                {{ end }}

                {{ .Content }}
            </div>

            <div class="lg:w-3/12 lg:pl-8">
                <div class="sticky-sidebar">
                    <div class="ml-2 hidden lg:block">
                        {{ partial "registry/package/right-nav.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
