{{ define "main" }}
    {{ $directories := (split .Page.File "/")}}
    {{ $packageName := index $directories 2 }}
    {{ $packageHome := path.Join "registry/packages" $packageName }}
<div class="flex flex-row container mx-auto px-4 pb-8 mt-4">
    <div class="flex-col">
        {{ partial "registry/package/header.html" . }}

        <div class="lg:flex">
            <div class="lg:w-12/12 max-w-3xl">
                <h1>{{ with .GetPage $packageHome }}{{ .Title }}{{ end }}: How-to-Guides</h1>
                {{ if (eq (len .Pages) 0) }}
                    There are no guides yet for this package.
                {{ else }}
                    {{ if not (eq (len (where .Pages "Params.language" "==" nil)) 0) }}
                        <h2>Featured Guides</h2>

                        {{ range where .Pages "Params.language" "==" nil }}
                            <div class="pb-4">
                                <a class="text-blue-600 underline" href="{{ relref . .Path }}">{{ .Title }}</a>
                            </div>
                        {{ end }}

                        <h2>How-to Guides by Language</h2>
                    {{ end }}

                    <div><pulumi-chooser type="language" options="typescript,javascript,python,go,csharp"></pulumi-chooser></div>

                    <pulumi-choosable type="language" value="typescript">
                        {{ partial "registry/packages/how-to-language-index" (dict "package" . "language" "ts") }}
                    </pulumi-choosable>

                    <pulumi-choosable type="language" value="javascript">
                        {{ partial "registry/packages/how-to-language-index" (dict "package" . "language" "js") }}
                    </pulumi-choosable>

                    <pulumi-choosable type="language" value="python">
                        {{ partial "registry/packages/how-to-language-index" (dict "package" . "language" "py") }}
                    </pulumi-choosable>

                    <pulumi-choosable type="language" value="go">
                        {{ partial "registry/packages/how-to-language-index" (dict "package" . "language" "go") }}
                    </pulumi-choosable>

                    <pulumi-choosable type="language" value="csharp">
                        {{ partial "registry/packages/how-to-language-index" (dict "package" . "language" "cs") }}
                    </pulumi-choosable>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="lg:w-1/12"></div>
    <div class="lg:w-3/12 lg:pl-8 min-w-max">
        <div class="sticky-sidebar">
            <div class="ml-2 hidden xl:block">
                {{ partial "registry/package/right-nav.html" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}
