{{ define "main" }}
    <div class="container mx-auto px-4 pb-8 mt-2">
        {{ partial "registry/package/header.html" . }}

        <div class="xxl:flex">
            <div class="xxl:w-8/12">
                <section data-swiftype-index="true">
                    {{ .Content }}
                </section>
            </div>
            <div class="xxl:w-1/12"></div>
            <div class="xxl:w-3/12 xxl:pl-8">
                <div class="sticky-sidebar">
                    <div class="ml-2 hidden xxl:block">
                        {{ partial "registry/package/right-nav.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
