{{ define "main" }}
<div class="flex flex-row container mx-auto px-4 pb-8 mt-16 md:mt-4">
    <div class="flex-row">
        {{ partial "registry/package/header.html" . }}
        <div class="lg:flex">
            <div class="lg:w-12/12 max-w-3xl">
                <div class="special-h1">
                    <h1>{{ .Params.title }}</h1>
                    <div class="h1-gradient"></div>
                </div>
                <section class="docs-content" data-swiftype-index="true">
                    {{ .Content }}
                </section>
            </div>
        </div>
    </div>
    <div class="lg:w-1/12"></div>
    <div class="lg:w-3/12 lg:pl-8 min-w-max">
        <div class="sticky-sidebar">
            <div class="ml-2 hidden xl:block">
                {{ partial "registry/package/right-nav.html" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "footer" }}
    {{ partial "docs/footer.html" . }}
{{ end }}
