{{ if eq .Type "alert" }}
  {{ $type := "info" }}
  {{ $icon := "info" }}
  {{ if or (eq .AlertType "warning") (eq .AlertType "caution") }}
    {{ $type = "warning" }}
    {{ $icon = "warning" }}
  {{ else if eq .AlertType "tip" }}
    {{ $icon = "lightbulb" }}
  {{ end }}
  <div class="note note-{{ $type }}">
    <div class="icon-and-line">
      {{ partial "icon" (dict "name" $icon "weight" "fill") }}
      <div class="line"></div>
    </div>
    <div class="content">
      {{ .Text }}
    </div>
  </div>
{{ else }}
  <blockquote>
    {{ .Text }}
  </blockquote>
{{ end }}
