@import "../../../../src/scss/colors";

.input-container {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 550px;

    .clear-container {
        position: absolute;
        display: flex;
        align-items: center;
        margin-right: 6px;
        top: 0;
        right: 0;
        height: 100%;
    }

    .search-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        color: map-get($gray, 400);
        pointer-events: none;
    }

    .clear-filter-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18px;
        width: 18px;
        background: map-get($gray, 300);
        color: map-get($gray, 500);
        border-radius: 50%;
        border: none;
        cursor: pointer;
        padding: 0px;

        .clear-icon {
            width: 10px;
            height: 10px;
        }
    }

    .registry-filter-input {
        font-family: var(--font-display);
        font-size: 14px;
        height: 36px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid var(--color-gray-300);
        padding: 6px;
        // Accomodate the absolutely positioned filter icon.
        padding-left: 40px;
        margin-top: 0;

        &:focus {
            outline-color: $brand-blue;
        }
    }

    .registry-filter-input::placeholder {
        font-style: italic;
        color: map-get($gray, 500);
    }
}
