<!--
  This partial contains the tags to include the JS and CSS assets for the website.
  You will need to include this partial in head of pages you want the CSS styles and/or
  JS components.
-->

{{ $js := resources.Get "registry/js/bundle-registry.js" | fingerprint }}
<script src="{{ $js.RelPermalink }}" defer></script>

{{ $consentJs := resources.Get "registry/js/consent-manager-registry.js" | fingerprint }}
<script src="{{ $consentJs.RelPermalink }}" defer></script>

<!--
  Our marketing styles diverge a bit from the other parts of the website so we load
  in a different bundle on our marketing pages.
-->
{{ $nonMarketingSections := slice "docs" "registry" "blog" "learn" "templates" "ai" "authors" "tags" "legal" }}
{{ if in $nonMarketingSections .Section }}
{{ else }}
    {{ $marketingCss := resources.Get "registry/css/marketing-registry.css" | fingerprint }}
    <link rel="stylesheet" href="{{ $marketingCss.RelPermalink }}"></link>
{{ end }}

{{ $css := resources.Get "registry/css/bundle-registry.css" | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}"></link>
