{{ $directories := (split .Page.File "/")}}
{{ $packageName := index $directories 2 }}
{{ $packageSection := index (split (index $directories 3) ".") 0 }}

{{ $packageHome := path.Join "registry/packages" $packageName }}
{{ $tutorialsPath := printf "%v" (delimit (slice "/registry/packages/" $packageName "/how-to-guides/") "") }}

{{ $permalink := .Page.RelPermalink }}

{{ $guidesCount := 0 }}
{{ if fileExists $tutorialsPath }}
    {{ with .GetPage $tutorialsPath }}{{ $guidesCount = len .Pages }}{{ end }}
{{ end }}

<div class="flex items-start">
    <div class="lg:w-12/12 flex-grow container">
        <!-- Because API Docs does not have a right nav, layout is different for those pages only,
        specifically breakpoints that affect the header's display and position. -->
        <div class="flex md:items-center items-start lg:mb-8 mb-4 flex-col md:flex-row md:justify-between">
            <div class="flex items-center pr-2" style="height: fit-content">
                {{ partial "registry/package/breadcrumb.html" . }}
            </div>
            <div class="block xl:hidden mt-0 md:w-80 w-full">
                {{ .Scratch.Set "size" "compact" }}
                {{ partial "registry/package/package-card.html" . }}
            </div>
        </div>

        <div class="flex justify-between">
        {{ with .GetPage (path.Join "registry/packages" $packageName) }}
            <nav class="flex items-center">
                <div class="flex mb-8 font-display font-medium text-base text-gray-700">
                    <div class="pb-3 border-b border-gray-300 flex">
                    <div class="{{ if or (eq $packageSection "_index") (eq $packageSection "version-guide") }} text-blue-600 bg-blue-100 rounded {{ end }} py-1.5 px-4 mr-2 md:mr-4 lg:mr-6 min-w-max hover:text-blue-600">
                        <a class="flex items-center" href="{{ relref . .File.Dir }}"><i class="fas fa-file-alt pr-2.5 hidden sm:block"></i>Overview</a>
                    </div>
                    <div class="{{ if (eq $packageSection "installation-configuration") }} text-blue-600 bg-blue-100 rounded {{ end }} py-1.5 px-4  mx-2 md:mx-4 lg:mx-6 min-w-max hover:text-blue-600">
                        <a class="flex items-center" href="{{ relref . (path.Join .File.Dir "installation-configuration") }}">
                            <i class="fas fa-cog pr-2.5 hidden sm:block"></i>
                            <span class="lg:hidden">Install</span>
                            <span class="hidden lg:block">Installation &amp; Configuration</span>
                        </a>
                    </div>
                    <div class="{{ if (eq $packageSection "api-docs") }} text-blue-600 bg-blue-100 rounded {{ end }} py-1.5 px-4  mx-2 md:mx-4 lg:mx-6 min-w-max hover:text-blue-600">
                        <a class="flex items-center" href="{{ relref . (path.Join .File.Dir "api-docs") }}">
                            <i class="fas fa-book pr-2.5 hidden sm:block"></i>
                            <span class="lg:hidden">API</span>
                            <span class="hidden lg:block">API Docs</span>
                        </a>
                    </div>

                    {{/* Only show the How-to Guides tab if we have an index page for them. */}}
                    {{ if .GetPage (path.Join .File.Dir "how-to-guides") }}
                        <div class="{{ if (eq $packageSection "how-to-guides") }} text-blue-600 bg-blue-100 rounded {{ end }} flex align-center py-1.5 px-4 ml-2 md:ml-4 lg:ml-6 min-w-max hover:text-blue-600">
                            <a class="{{ if (eq $packageSection "how-to-guides") }} border-blue-600 {{ end }} flex items-center border-gray-700 hover:border-blue-600" href="{{ relref . (path.Join .File.Dir "how-to-guides") }}">
                                <i class="fas fa-question-circle pr-2.5 hidden sm:block"></i>
                                <span class="lg:hidden">Guides</span>
                                <span class="hidden lg:block">How-to Guides</span>
                                {{ if gt $guidesCount 0 }}
                                    <span class="hidden md:inline" style="border-color: inherit">
                                        <span class="px-2 ml-2 rounded-full text-sm border bg-transparent font-normal" style="border-color: inherit">{{ $guidesCount }}</span>
                                    </span>
                                {{ end }}
                            </a>
                        </div>
                    {{ end }}
                </div>
                </div>
            </nav>
            {{ end }}
        </div>
    </div>
    {{ if in $permalink "api-docs" }}
        <div class="hidden xl:block xxl:hidden md:mt-0 mt-4 md:w-80 w-full">
            {{ .Scratch.Set "size" "compact" }}
            {{ partial "registry/package/package-card.html" . }}
        </div>
    {{end}}
</div>
    
    
