{{ $directories := (split .Page.File "/")}}
{{ $packageName := index $directories 2 }}
{{ $packageSection := index (split (index $directories 3) ".") 0 }}

{{ $packageHome := path.Join "registry/packages" $packageName }}
{{ $tutorialsPath := printf "%v" (delimit (slice "/registry/packages/" $packageName "/how-to-guides/") "") }}

{{ $guidesCount := 0 }}
{{ if fileExists $tutorialsPath }}
    {{ with .GetPage $tutorialsPath }}{{ $guidesCount = len .Pages }}{{ end }}
{{ end }}

<div class="container">
    <div class="mb-8 text-blue-600 font-display">
        <span>&larr;</span>
        <a href="{{ relref . "/registry" }}" class="hover:underline">All packages</a>
    </div>

    {{ with (index $.Site.Data.registry.packages ($packageName)) }}
        <div class="lg:flex mb-8">
            {{ partial "registry/package/icon.html" . }}
        </div>
    {{ end }}

    <div class="lg:flex mb-2 max-w-5xl">
        <h1 class="text-4xl no-anchor">{{ with .GetPage $packageHome }}{{ .Title }}{{ end }}</h1>

        {{ with (index $.Site.Data.registry.packages ($packageName)) }}
            <div class="flex-grow justify-end">
                {{ if (eq (.publisher) "Pulumi") }}
                    <div class="flex lg:justify-end mt-2.5">
                        <pulumi-tooltip>
                            <div class="h-10 flex py-2 px-6 bg-blue-100 bg-opacity-70 rounded-xl items-center">
                                <span class="font-display pr-2">Pulumi Official</span>
                                <img src="/icons/check-verified.svg">
                            </div>
                            <span slot="content">
                                Package maintained by Pulumi
                            </span>
                        </pulumi-tooltip>
                    </div>
                {{ end }}

                {{ if not (eq (.publisher) "Pulumi") }}                      
                    <div class="flex lg:justify-end mt-2.5">
                        <pulumi-tooltip>
                            <div class="h-10 flex py-2 px-6 bg-gray-300 bg-opacity-70 rounded-xl items-center">
                                <span class="font-display  pr-2">Community</span>
                                <img src="/icons/people.svg">
                            </div>
                            <span slot="content">
                                Package contributed by a community member
                            </span>
                        </pulumi-tooltip>
                    </div>
                {{ end }}
            </div>
        {{end}}
    </div>

    {{ with (index $.Site.Data.registry.packages ($packageName)) }}
        <div class="lg:flex mb-4 font-display">
            {{ .version }} published on {{ ((time .updated_on).Format "Monday, Jan 2, 2006") }} by {{ .publisher }}
        </div>

        <div class="flex items-center mb-8">
            <i class="fab fa-github text-lg"></i>
            <span class="text-blue-600 flex flex-wrap items-center">
                <a class="text-blue-600 underline font-display ml-2 mr-1.5" href="{{ .repo_url }}" target="_blank" rel="noopener noreferrer">Source code</a>
                <i class="fas fa-external-link-alt text-sm"></i>
            </span>
        </div>
    {{ end }}

    {{ with .GetPage (path.Join "registry/packages" $packageName) }}
        <nav>
            <div class="flex mb-8 font-display text-base md:text-lg">
                <div class="{{ if or (eq $packageSection "_index") (eq $packageSection "version-guide") }} border-b-2 border-blue-600 {{ end }} pb-2 px-2 mr-2 md:mr-4 lg:mr-6">
                    <a class="flex items-center" href="{{ relref . .File.Dir }}">Overview</a>
                </div>
                <div class="{{ if (eq $packageSection "installation-configuration") }} border-b-2 border-blue-600 {{ end }} pb-2 px-2 mx-2 md:mx-4 lg:mx-6">
                    <a class="flex items-center" href="{{ relref . (path.Join .File.Dir "installation-configuration") }}">
                        <span class="md:hidden">Install</span>
                        <span class="hidden md:block">Installation &amp; Configuration</span>
                    </a>
                </div>
                <div class="{{ if (eq $packageSection "api-docs") }} border-b-2 border-blue-600 {{ end }} pb-2 px-2 mx-2 md:mx-4 lg:mx-6">
                    <a class="flex items-center" href="{{ relref . (path.Join .File.Dir "api-docs") }}">
                        <span class="md:hidden">API</span>
                        <span class="hidden md:block">API Docs</span>
                    </a>
                </div>
                <div class="{{ if (eq $packageSection "how-to-guides") }} border-b-2 border-blue-600 {{ end }} pb-2 px-2 ml-2 md:ml-4 lg:ml-6">
                    <a class="flex items-center" href="{{ relref . (path.Join .File.Dir "how-to-guides") }}">
                        <span class="md:hidden">Guides</span>
                        <span class="hidden md:block">How-to Guides</span>
                        {{ if gt $guidesCount 0 }}
                            <span class="hidden md:inline">
                                {{ partial "count-pill" (dict "count" $guidesCount "selected" (eq $packageSection "how-to-guides")) }}
                            </span>
                        {{ end }}
                    </a>
                </div>
            </div>
        </nav>
    {{ end }}
</div>
