{{ $directories := (split .Page.File "/")}}
{{ $packageName := index $directories 2 }}
{{ $packageSection := index (split (index $directories 3) ".") 0 }}

{{ $packageHome := path.Join "registry/" $packageName }}
{{ $tutorialsPath := printf "%v" (delimit (slice "/registry/packages/" $packageName "/how-to-guides") "") }}

{{ $guidesCount := 0 }}
{{ if fileExists $tutorialsPath }}
    {{ with .GetPage $tutorialsPath }}{{ $guidesCount = len .Pages }}{{ end }}
{{ end }}

<div class="container">
    {{ with (index $.Site.Data.registry.packages ($packageName)) }}
        <div class="lg:flex mb-2 pb-4">
            {{ partial "registry/package/icon.html" . }}
        </div>
    {{ end }}
    <div class="lg:flex mb-2">
        <h3>{{ with .GetPage $packageHome }}{{ .Title }}{{ end }}</h3>
    </div>

    {{ with (index $.Site.Data.registry.packages ($packageName)) }}
        <div class="lg:flex mb-4">
            {{ .version }} published on {{ ((time .updated_on).Format "Mon Jan 2 2006") }} by {{ .publisher }}
        </div>
    {{ end }}

    <div class="lg:flex mb-8">
        <a class="text-blue-600 underline" href="https://github.com/pulumi/pulumi-{{ $packageName }}">Source code</a>
    </div>

    {{ with .GetPage (path.Join "registry/packages" $packageName) }}
        <div class="lg:flex mb-8">
            <div class="{{ if (eq $packageSection "_index") }} border-b-2 border-blue-600 {{ end }} pb-2 pl-2 pr-2 mr-8">
                <a class="pb-2" href="{{ relref . .File.Dir }}">Overview</a>
            </div>
            <div class="{{ if (eq $packageSection "installation-configuration") }} border-b-2 border-blue-600 {{ end }} pb-2 pl-2 pr-2 mr-8">
                <a class="pb-2" href="{{ relref . (path.Join .File.Dir "installation-configuration") }}">Installation & Configuration</a>
            </div>
            <div class="{{ if (eq $packageSection "api-docs") }} border-b-2 border-blue-600 {{ end }} pb-2 pl-2 pr-2 mr-8">
                <a class="pb-2" href="{{ relref . (path.Join .File.Dir "api-docs") }}">API Docs</a>
            </div>
            <div class="{{ if (eq $packageSection "how-to-guides") }} border-b-2 border-blue-600 {{ end }} pb-2 pl-2 pr-2 mr-8">
                <a class="pb-2" href="{{ relref . (path.Join .File.Dir "how-to-guides") }}">
                    How-to Guides
                    {{ partial "count-pill" (dict "count" $guidesCount "selected" (eq $packageSection "how-to-guides")) }}
                    </span>
                </a>
            </div>
        </div>
    {{ end }}

    <div class="lg:flex">
        {{ if in (slice "api" "how-to-guide" ) .Page.Layout }}
            {{ if not (in .Page.File "api-docs/_index.md") }}
                {{ partial "registry/package/how-to-guides/breadcrumb.html" . }}
            {{ end }}
        {{ end }}
    </div>

    <div class="lg:flex mb-4">
        <span class="inline-flex items-center">
            <a href="https://github.com/pulumi/registry/blob/master/themes/default/content/registry/packages/{{ $packageName }}/{{ .File.LogicalName }}">Edit this page</a>
        </span>
    </div>
</div>
