{{ $name := .package.name }}
{{ $logoUrl := .package.logo_url }}
{{ $lazy := default false .lazy }}
{{ $isExternal := ne $logoUrl "" }}
{{ $url := "" }}
{{ $showImage := false }}

{{ if $isExternal }}
    {{ $url = $logoUrl }}
    {{ $showImage = true }}
{{ else }}
    {{ with resources.Get (printf "fingerprinted/logos/pkg/%s.svg" $name) }}
        {{ $fp := . | fingerprint }}
        {{ $url = $fp.RelPermalink }}
        {{ $showImage = true }}
    {{ end }}
{{ end }}

{{ if $showImage }}
    <img
        {{ if $lazy }}loading="lazy" decoding="async"{{ end }}
        class="h-6"
        src="{{ $url }}"
        alt="{{ $name }} logo"
        {{ if $isExternal }}onerror="this.classList.add('hidden'); this.parentElement.querySelector('.pkg-fallback-icon').classList.remove('hidden')"{{ end }}
    >
    {{ if $isExternal }}
        {{ partial "icon" (dict "name" "package" "size" 24 "class" "pkg-fallback-icon text-gray-500 hidden") }}
    {{ end }}
{{ else }}
    {{ partial "icon" (dict "name" "package" "size" 24 "class" "pkg-fallback-icon text-gray-500") }}
{{ end }}
