{{ $package := .Scratch.Get "package" }}

{{ if (eq $package "aws-native") }}
    <div class="note note-info">
        <div class="icon-and-line">
            <i class="fas fa-info-circle"></i>
            <div class="line"></div>
        </div>
        <div>
            <p>
                We recommend new projects start with resources from the
                <a href="/registry/packages/aws/">AWS</a> provider.
            </p>
        </div>
    </div>
{{ else if (eq $package "azure") }}
    <div class="note note-info">
        <div class="icon-and-line">
            <i class="fas fa-info-circle"></i>
            <div class="line"></div>
        </div>
        <div>
            <p>
                We recommend using <a href="/registry/packages/azure-native/">Azure Native</a>.
            </p>
        </div>
    </div>
{{ else if (eq $package "google-native") }}
    <div class="note note-info">
        <div class="icon-and-line">
            <i class="fas fa-info-circle"></i>
            <div class="line"></div>
        </div>
        <div>
            <p>
                Google Cloud Native is in preview.
                <a href="/registry/packages/gcp/">Google Cloud Classic</a> is fully supported.
            </p>
        </div>
    </div>
{{ else if (eq $package "confluent") }}
    <div class="note note-warning">
        <div class="icon-and-line">
            <i class="fas fa-exclamation-triangle"></i>
            <div class="line"></div>
        </div>
        <div>
            <p>
                This package is deprecated. We recommend using the
                <a href="/registry/packages/confluentcloud/">new Confluent Cloud package</a>.
            </p>
        </div>
    </div>
{{ else if (eq $package "equinix-metal") }}
    <div class="note note-warning">
        <div class="icon-and-line">
            <i class="fas fa-exclamation-triangle"></i>
            <div class="line"></div>
        </div>
        <div>
            <p>
                This package is deprecated.
                We recommend using the <a href="/registry/packages/equinix/">new Equinix package</a>.
            </p>
        </div>
    </div>
{{ else if (eq $package "azure-native") }}
    <div class="text-xs mt-4 note note-info">
        <i class="fas fa-info-circle text-blue-600 mr-1 my-1"></i>
        <span>
            This is the latest version of Azure Native. Use the <a class="text-blue-600 underline" href="/registry/packages/azure-native-v1/">Azure Native v1</a> docs if using the v1 version of this package.
        </span>
    </div>
{{ else if (eq $package "azure-native-v1") }}
    <div class="text-xs mt-4 note note-warning">
        <i class="fas fa-info-circle text-blue-600 mr-1 my-1"></i>
        <span>
            These are the docs for Azure Native v1. We recommenend using the latest version, <a class="text-blue-600 underline" href="/registry/packages/azure-native/">Azure Native v2</a>.
        </span>
    </div>
    {{ else if (eq $package "pulumiservice") }}
    <div class="note note-info">
        <div class="icon-and-line">
            <i class="fas fa-info-circle"></i>
            <div class="line"></div>
        </div>
        <div>
            <p>
                This provider is currently in preview.
            </p>
        </div>
    </div>
{{ end }}
