{{ $directories := (split .Page.File.Path "/")}}
{{ $packageName := index $directories 2 }}

<div class="package-card">
    {{ with (index $.Site.Data.registry.packages ($packageName)) }}
        <div>
            {{ partial "registry/package/icon.html" . }}
        </div>
    {{ end }}

    {{ .Scratch.Set "package" $packageName }}
    {{ partial "registry/package/package-alert.html" . }}

    {{ with (index $.Site.Data.registry.packages ($packageName)) }}
        <div class="version-info">
            {{ .title }} {{ .version }} published on {{ ((time .updated_on).Format "Monday, Jan 2, 2006") }} by {{ .publisher }}
        </div>
        <div class="package-link">
            <i class="fas fa-file-code"></i>
            <a href="/registry/packages/{{ $packageName }}/schema.json" target="_blank" rel="noopener noreferrer">
                <span>Provider schema (JSON)</span>
            </a>
        </div>
        <div class="package-link">
            <i class="fab fa-github"></i>
            <a href="{{ .repo_url }}" target="_blank" rel="noopener noreferrer">
                <span>{{ replaceRE `^.*.com/` "" .repo_url }}</span>
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    {{ end }}
</div>
