{{ $directories := (split .Page.File "/")}}
{{ $packageName := index $directories 2 }}
{{ $packageHome := path.Join "registry/packages" $packageName }}
{{ $size := .Scratch.Get "size" }}
{{ if eq "compact" $size }}
    <div class="p-4 border rounded shadow-sm h-30 bg-gray-100 min-w-80 bg-white xl:right-10 md:w-80 w-full package-card-compact">
        <div class="card-collapsed flex items-center cursor-pointer">
            <div class="flex max-w-sm">
                {{ with (index $.Site.Data.registry.packages ($packageName)) }}
                <div class="flex">
                    {{ partial "registry/package/icon.html" . }}
                </div>
                {{ end }}
            </div>
            
            {{ with (index $.Site.Data.registry.packages ($packageName)) }}
            <div class="flex-grow text-left mx-5 whitespace-nowrap package-header">
                {{ .title }} {{ .version }}, {{ ((time .updated_on).Format "Jan 2 06") }}
            </div>
    
            <div class="caret-container">
                <i class="package-card-caret fas fa-chevron-circle-down"></i>
            </div>
            {{ end }}
        </div>
        <div class="hidden package-card-expand">
            {{ .Scratch.Set "package" $packageName }}
            {{ partial "registry/package/package-alert.html" . }}
            {{ with (index $.Site.Data.registry.packages ($packageName)) }}
                <div class="lg:flex mb-4 text-xs mt-4">
                    {{ .title }} {{ .version }} published on {{ ((time .updated_on).Format "Monday, Jan 2, 2006") }} by {{ .publisher }}
                </div>
    
                <div class="flex items-center">
                    <i class="fab fa-github text-base"></i>
                    <span class="text-blue-600 flex flex-wrap items-center">
                        <a class="text-xs text-blue-600 underline ml-2 mr-1.5" href="{{ .repo_url }}" target="_blank" rel="noopener noreferrer">{{ replaceRE `^.*.com/` "" .repo_url }}</a>
                        <i class="fas fa-external-link-alt text-xs"></i>
                    </span>
                </div>
            {{ end }}
        </div>
    </div>
{{ else }}
    <div class="p-4 mb-8 border rounded package-card">
        <div class="lg:flex max-w-sm max-h-4">
            {{ with (index $.Site.Data.registry.packages ($packageName)) }}
            <div class="lg:flex max-h-4">
                {{ partial "registry/package/icon.html" . }}
            </div>
            {{ end }}
        </div>
        {{ .Scratch.Set "package" $packageName }}
        {{ partial "registry/package/package-alert.html" . }}
        {{ with (index $.Site.Data.registry.packages ($packageName)) }}
            <div class="mt-4 mb-4 lg:flex text-xs">
                {{ .title }} {{ .version }} published on {{ ((time .updated_on).Format "Monday, Jan 2, 2006") }} by {{ .publisher }}
            </div>

            <div class="flex items-center">
                <i class="fab fa-github text-base"></i>
                <span class="text-blue-600 flex flex-wrap items-center">
                    <a class="text-xs text-blue-600 underline ml-2 mr-1.5" href="{{ .repo_url }}" target="_blank" rel="noopener noreferrer">{{ replaceRE `^.*.com/` "" .repo_url }}</a>
                    <i class="fas fa-external-link-alt text-xs"></i>
                </span>
            </div>
        {{ end }}
    </div>
{{ end }}
