
{{ $directories := (split .Page.File.Path "/") }}
{{ $rawPackageName := (index $directories 2) }}
{{ $isVersioned := strings.Contains $rawPackageName "@" }}
{{ $basePackageName := cond $isVersioned (index (split $rawPackageName "@") 0) $rawPackageName }}
{{ $versionSlug := cond $isVersioned (index (split $rawPackageName "@") 1) "" }}

{{ $packageData := index $.Site.Data.registry.packages $basePackageName }}
{{ if $isVersioned }}
    {{ with index $.Site.Data.registry.package_versions $rawPackageName }}
        {{ $packageData = . }}
    {{ end }}
{{ end }}

{{ $iconData := index $.Site.Data.registry.packages $basePackageName }}

<div id="accordion-package-card" class="accordion">
    <div>
        <input type="checkbox" id="accordion-checkbox-package-card" />
        <label for="accordion-checkbox-package-card" class="show">
            <div class="package-card-top-of-page">
                <div class="img-name-version">
                    {{ with $iconData }}
                        <div>
                            {{ partial "registry/package/icon.html" . }}
                        </div>
                    {{ end }}
                    {{ with $packageData }}
                        <p>{{ .title }} {{ .version }}{{ if $isVersioned }} ({{ $versionSlug }}){{ end }}, {{ ((time .updated_on).Format "Jan 2 06") }}</p>
                    {{ end }}
                </div>
                <div class="icon icon-16-16 keyboard-arrow-down-gray"></div>
            </div>
        </label>
        <label for="accordion-checkbox-package-card" class="hide">
            <div class="package-card-top-of-page">
                <div class="img-name-version">
                    {{ with $iconData }}
                        <div>
                            {{ partial "registry/package/icon.html" . }}
                        </div>
                    {{ end }}
                    {{ with $packageData }}
                        <p>{{ .title }} {{ .version }}{{ if $isVersioned }} ({{ $versionSlug }}){{ end }}, {{ ((time .updated_on).Format "Jan 2 06") }}</p>
                    {{ end }}
                </div>
                <div class="icon icon-16-16 keyboard-arrow-up-gray"></div>
            </div>
        </label>
        <div class="accordion-content flex">
            <div class="content">
                <div class="package-card">
                    {{ .Scratch.Set "package" $basePackageName }}
                    {{ partial "registry/package/package-alert.html" . }}

                    {{ with $packageData }}
                        <div class="version-info">
                            Viewing docs for {{ .title }} {{ .version }}{{ if $isVersioned }} <strong>(Older version)</strong>{{ end }}
                            <br />
                            published on {{ ((time .updated_on).Format "Monday, Jan 2, 2006") }} by {{ .publisher }}
                        </div>
                        {{ if $isVersioned }}
                            <div class="package-link">
                                <i class="fas fa-link"></i>
                                <a href="/registry/packages/{{ $basePackageName }}/">
                                    <span>Go to latest version</span>
                                </a>
                            </div>
                        {{ end }}
                        <div class="package-link">
                            <i class="fas fa-file-code"></i>
                            <a href="/registry/packages/{{ $rawPackageName }}/schema.json" target="_blank" rel="noopener noreferrer">
                                <span>Schema (JSON)</span>
                            </a>
                        </div>
                        <div class="package-link">
                            <i class="fab fa-github"></i>
                            <a href="{{ .repo_url }}" target="_blank" rel="noopener noreferrer">
                                <span>{{ replaceRE `^.*.com/` "" .repo_url }}</span>
                                <i class="fas fa-external-link-alt"></i>
                            </a>
                        </div>
                    {{ end }}
                    {{ partial "registry/package/version-selector.html" (dict "Site" $.Site "rawPackageName" $rawPackageName "basePackageName" $basePackageName "isVersioned" $isVersioned "versionSlug" $versionSlug) }}
                </div>
            </div>
        </div>
    </div>
</div>
