{{ $title_tag := .Scratch.Get "title_tag" }}
{{ $prompt := printf "Explain resource %s, its top scenarios, and create a example usage for me." $title_tag }}
{{ $firstLetter := substr $title_tag 0 1 | lower }}
{{ $article := "a" }}
{{ if or (eq $firstLetter "a") (eq $firstLetter "e") (eq $firstLetter "i") (eq $firstLetter "o") (eq $firstLetter "u")
}}
{{ $article = "an" }}
{{ end }}
{{ $cta := printf "Explain and create %s %s resource" $article $title_tag }}

<a class="pulumi-ai-badge mb-4" target="_blank"
  href="https://app.pulumi.com/neo?prompt={{ $prompt | urlquery }}&prefer_signup=true">
  <div class="container flex flex-row items-center text-white rounded-lg p-3 gap-2 text-display transition-colors">
    <div class="flex items-center justify-center bg-white rounded-full p-0.5">{{ partial "icon" (dict "icon" "neo") }}
    </div>
    <div class="flex flex-col">
      <div class="text-sm font-semibold pb-0.5 header">Start a Neo task</div>
      <div class="text-xs text-gray-600">{{ $cta }}</div>
    </div>
    <!-- <div class="ml-auto">{{ partial "icon" (dict "icon" "caret-right") }}</div> -->
  </div>
</a>