{{/*
  To regenerate get-started-with-pulumi.svg:
  1. npm install opentype.js
  2. node text-to-path.js ./public/fonts/gilroy-medium.woff "Get Started" 20 50 29
  3. Wrap output path in SVG with: width="180" height="46" viewBox="0 0 180 46"
  4. Include Pulumi logo elements and background: fill="#2B2B2C"
*/}}
{{ $title_tag := .Scratch.Get "title_tag" }}
{{ $prompt := printf "Explain resource %s, it's top scenarios and create a example usage for me." $title_tag }}
<a class="pulumi-ai-badge" target="_blank" href="https://app.pulumi.com/neo?prompt={{ $prompt | urlquery }}&prefer_signup=true">
    <img src="/images/get-started-with-pulumi.svg" alt="Get Started">
</a>
