{{ $site := .Site }}
{{ $rawPackageName := .rawPackageName }}
{{ $basePackageName := .basePackageName }}
{{ $isVersioned := .isVersioned }}
{{ $currentVersionSlug := .versionSlug }}

{{ $versions := slice }}

{{ $latestData := index $site.Data.registry.packages $basePackageName }}
{{ if $latestData }}
    {{ $versions = $versions | append (dict "slug" "" "version" $latestData.version "label" (printf "%s (latest)" $latestData.version) "url" (printf "/registry/packages/%s/" $basePackageName)) }}
{{ end }}

{{ range $key, $data := $site.Data.registry.package_versions }}
    {{ if hasPrefix $key (printf "%s@" $basePackageName) }}
        {{ $vSlug := index (split $key "@") 1 }}
        {{ $versions = $versions | append (dict "slug" $vSlug "version" $data.version "label" (printf "%s (%s)" $data.version $vSlug) "url" (printf "/registry/packages/%s/" $key)) }}
    {{ end }}
{{ end }}

{{ if gt (len $versions) 1 }}
<div class="version-selector-wrapper package-link">
    <i class="fas fa-code-branch"></i>
    <select class="version-selector" onchange="if(this.value) window.location.href=this.value">
        {{ range $versions }}
            <option value="{{ .url }}" {{ if eq .slug $currentVersionSlug }}selected{{ end }}>{{ .label }}</option>
        {{ end }}
    </select>
</div>
{{ end }}
