{{ $packageName := .package.name }}
{{ $href := printf "/registry/packages/%s" $packageName }}
{{ $status := dict "ga" "Generally Available" "public-preview" "Public Preview" }}

<div class="package my-4 lg:w-1/2 px-4">
    <div class="rounded-xl shadow-lg border border-gray-200 h-full">
        <div class="p-8"
            data-provider="{{ if ne .package.component true }}true{{ else }}false{{ end }}"
            data-native="{{ if eq .package.native true }}true{{ else }}false{{ end }}"
            data-component="{{ if eq .package.component true }}true{{ else }}false{{ end }}"

            data-type="{{ if .package.component }}component{{ else if .package.native }}native-provider{{ else }}provider{{ end }}"
            data-category="{{ lower .package.category }}"
            data-status="{{ lower .package.package_status }}"
            >

            <div class="flex flex-wrap">
                <div class="flex w-full items-center justify-between mb-4">
                    <a href="{{ $href }}">
                        {{ if ne .package.logo_url "" }}
                            <!--
                                It is ok to load the logo_url directly without sanitizing it since we will
                                validate packages before we add them to the registry.
                             -->
                            <img onerror="this.classList.add('opacity-0');" class="h-12" src="{{ .package.logo_url }}" alt="{{ .package.title }}">
                        {{ else }}
                            <img onerror="this.classList.add('opacity-0');" class="h-12" src="/logos/pkg/{{ $packageName }}.svg" alt="{{ .package.title }}">
                        {{ end }}
                    </a>
                    <a href="{{ $href }}" class="hidden md:block whitespace-nowrap ml-4 text-sm text-blue-600 hover:underline">
                        View package
                    </a>
                </div>
                <div class="">
                    <h5 class="text-gray-900">
                        <a href="{{ $href }}" title="{{ .package.title }}">
                            {{ .package.title }}
                        </a>
                    </h5>
                    <div class="text-sm font-display text-gray-800 leading-relaxed">
                        {{ .package.version }} published on
                        <time>{{ time .package.updated_on | time.Format "Monday, Jan 2, 2006" }}</time>
                        by {{ .package.publisher }}
                    </div>
                    <p>
                        <span class="text-gray-900">
                            {{ .package.description }}
                        </span>
                    </p>

                    {{ $packageData := index .getStartedData $packageName }}
                    {{ with $packageData.tutorials}}
                        <pulumi-accordion class="my-4 text-base rounded bg-gray-100 border-2 border-gray-200">
                            <pulumi-accordion-item slot="item" class="text-base pl-1">
                                <div slot="heading" class="text-base">Featured How-to Guides</div>
                                <i slot="collapsed-icon" class="far fa-plus-square"></i>
                                <i slot="expanded-icon" class="far fa-minus-square"></i>
                                <ul class="m-0 p-0 list-none">
                                    {{ range $packageData.tutorials }}
                                        <li class="mt-0">
                                            <a class="underline" href="{{ .rel_link }}">{{ .name }}</a>
                                        </li>
                                    {{ end }}
                                </ul>
                            </pulumi-accordion-item>
                        </pulumi-accordion>
                    {{ end }}

                    <ul class="package-tags">
                        <li class="package-tag-type">
                            {{ if .package.native }}
                                Native Provider
                            {{ else if .package.component }}
                                Component
                            {{ else }}
                                Provider
                            {{ end }}
                        </li>
                        <li class="package-tag-category">{{ .package.category }}</li>
                        <li class="package-tag-status">{{ index $status .package.package_status }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
