a.pulumi-ai-badge {
    display: inline-block;

    .container {
        background-color: white;
        border: 1px solid #673eac;

        .header {
            color: #673eac;
        }

        &:hover {
            border: 1px solid #67276d;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
        }
    }
}