{{/* Add structured data alongside each code example for Variant A pages */}}
{{ $content := .Content }}
{{ $page := .Page }}

{{/* Extract metadata from page parameters */}}
{{ $titleTag := $page.Params.title_tag | default "" }}
{{ $packageName := "azure-native" }}
{{ $serviceName := "" }}
{{ $resourceName := "" }}

{{ if $titleTag }}
    {{ $parts := split $titleTag "." }}
    {{ if ge (len $parts) 3 }}
        {{ $packageName = index $parts 0 }}
        {{ $serviceName = index $parts 1 }}
        {{ $resourceName = index $parts 2 }}
    {{ end }}
{{ end }}

{{/* Format service and resource names for display */}}
{{ $serviceDisplay := $serviceName | humanize | title }}
{{ $resourceDisplay := $resourceName | humanize | title }}

{{/* Process content to add schema after each pulumi-choosable block */}}
{{ $processed := $content }}

{{/* Define language mappings */}}
{{ $langMappings := dict "javascript,typescript" "TypeScript" "typescript" "TypeScript" "javascript" "JavaScript" "python" "Python" "go" "Go" "csharp" "C#" "java" "Java" "yaml" "YAML" }}

{{/* Process each language variant */}}
{{ range $langCode, $langDisplay := $langMappings }}
    {{/* Build the search pattern for this language's choosable block */}}
    {{ $searchPattern := printf `(<pulumi-choosable[^>]*values="%s"[^>]*>.*?</pulumi-choosable>)` $langCode }}
    
    {{/* Build the replacement with schema added after the choosable block */}}
    {{ $replacement := printf `$1
<div class="structured-data-inline" style="position: absolute; left: -10000px; width: 1px; height: 1px; overflow: hidden;">
    <div itemscope itemtype="https://schema.org/SoftwareSourceCode">
        <meta itemprop="name" content="Azure %s %s - %s Example" />
        <meta itemprop="description" content="Pulumi %s code example for creating and managing Azure %s %s resources using Infrastructure as Code" />
        <meta itemprop="programmingLanguage" content="%s" />
        <meta itemprop="codeSampleType" content="code snippet" />
        <meta itemprop="keywords" content="Azure, %s, %s, Pulumi, Infrastructure as Code, IaC, %s, Cloud, DevOps" />
        <meta itemprop="runtimePlatform" content="Microsoft Azure" />
        <meta itemprop="targetProduct" content="Pulumi Infrastructure as Code Platform" />
        <meta itemprop="codeRepository" content="https://github.com/pulumi/pulumi-%s" />
        <meta itemprop="license" content="https://github.com/pulumi/pulumi-%s/blob/master/LICENSE" />
        <meta itemprop="author" content="Pulumi" />
        <meta itemprop="isPartOf" content="%s" />
        <div itemprop="text">
            Code snippet for %s available in the adjacent code block.
        </div>
    </div>
</div>` $serviceDisplay $resourceDisplay $langDisplay $langDisplay $serviceDisplay $resourceDisplay $langDisplay $serviceDisplay $resourceDisplay $langDisplay $packageName $packageName $page.Permalink $langDisplay }}
    
    {{/* Apply the replacement */}}
    {{ $processed = replaceRE $searchPattern $replacement $processed }}
{{ end }}

{{ $processed | safeHTML }}