{{/* Add SoftwareSourceCode annotations alongside each code example for Variant A pages */}}
{{ $content := .Content }}
{{ $page := .Page }}

{{/* Parse title_tag using shared partial */}}
{{ $titleTag := $page.Params.title_tag | default "" }}
{{ $parsed := partial "registry/parse-title-tag.html" (dict "titleTag" $titleTag "page" $page) }}
{{ $packageName := $parsed.packageName }}
{{ $moduleName := $parsed.moduleName }}
{{ $resourceName := $parsed.resourceName }}

{{/* Format module and resource names for display */}}
{{ $moduleDisplay := $moduleName | humanize | title }}
{{ $resourceDisplay := $resourceName | humanize | title }}

{{/* Process content to add schema after each pulumi-choosable block */}}
{{ $processed := $content }}

{{/* Define language mappings - handle both individual languages and combined */}}
{{ $languages := slice "typescript" "python" "go" "csharp" "java" "yaml" "javascript" "javascript,typescript" }}

{{/* Process each language - use a simpler approach */}}
{{ range $lang := $languages }}
    {{/* Map language values to display names using shared partial */}}
    {{ $langDisplay := partial "registry/language-display-mapping.html" $lang }}
    
    {{/* Build patterns to match pulumi-choosable blocks with this language */}}
    {{/* Handle both quoted and unquoted attribute values */}}
    {{ $pattern1 := printf `<pulumi-choosable type="language" values="%s">` $lang }}
    {{ $pattern2 := printf `<pulumi-choosable type="language" values=%s>` $lang }}
    {{ $pattern3 := printf `<pulumi-choosable type=language values="%s">` $lang }}
    {{ $pattern4 := printf `<pulumi-choosable type=language values=%s>` $lang }}
    
    {{/* Build the schema markup to insert */}}
    {{ $schemaMarkup := printf `<div class="software-source-code-annotations" style="position: absolute; left: -10000px; width: 1px; height: 1px; overflow: hidden;">
    <div itemscope itemtype="https://schema.org/SoftwareSourceCode">
        <meta itemprop="name" content="Azure %s %s - %s Example" />
        <meta itemprop="description" content="Pulumi %s code example for creating and managing Azure %s %s resources using Infrastructure as Code" />
        <meta itemprop="programmingLanguage" content="%s" />
        <meta itemprop="codeSampleType" content="code snippet" />
        <meta itemprop="keywords" content="Azure, %s, %s, Pulumi, Infrastructure as Code, IaC, %s, Cloud, DevOps" />
        <meta itemprop="runtimePlatform" content="Microsoft Azure" />
        <meta itemprop="targetProduct" content="Pulumi Infrastructure as Code Platform" />
        <meta itemprop="codeRepository" content="https://github.com/pulumi/pulumi-%s" />
        <meta itemprop="license" content="https://github.com/pulumi/pulumi-%s/blob/master/LICENSE" />
        <meta itemprop="author" content="Pulumi" />
        <meta itemprop="isPartOf" content="%s" />
        <div itemprop="text">
            Code snippet for %s available in the adjacent code block.
        </div>
    </div>
</div>` $moduleDisplay $resourceDisplay $langDisplay $langDisplay $moduleDisplay $resourceDisplay $langDisplay $moduleDisplay $resourceDisplay $langDisplay $packageName $packageName $page.Permalink $langDisplay }}
    
    {{/* Replace each pattern - add schema right after the opening tag */}}
    {{/* This ensures the schema is inside the choosable block but doesn't interfere with content */}}
    {{ $replacement1 := printf `%s%s` $pattern1 $schemaMarkup }}
    {{ $replacement2 := printf `%s%s` $pattern2 $schemaMarkup }}
    {{ $replacement3 := printf `%s%s` $pattern3 $schemaMarkup }}
    {{ $replacement4 := printf `%s%s` $pattern4 $schemaMarkup }}
    
    {{ $processed = replace $processed $pattern1 $replacement1 }}
    {{ $processed = replace $processed $pattern2 $replacement2 }}
    {{ $processed = replace $processed $pattern3 $replacement3 }}
    {{ $processed = replace $processed $pattern4 $replacement4 }}
{{ end }}

{{ $processed | safeHTML }}