{{/* Add SoftwareSourceCode annotations alongside each code example for Variant A pages */}}
{{ $content := .Content }}
{{ $page := .Page }}

{{/* Extract metadata from page parameters */}}
{{ $titleTag := $page.Params.title_tag | default "" }}
{{ $packageName := "azure-native" }}
{{ $moduleName := "" }}
{{ $resourceName := "" }}

{{ if $titleTag }}
    {{ $parts := split $titleTag "." }}
    {{ if eq (len $parts) 3 }}
        {{ $packageName = index $parts 0 }}
        {{ $moduleName = index $parts 1 }}
        {{ $resourceName = index $parts 2 }}
    {{ else if eq (len $parts) 2 }}
        {{/* Module index pages like azure-native.maps */}}
        {{ $packageName = index $parts 0 }}
        {{ $moduleName = index $parts 1 }}
        {{ $resourceName = "" }}
    {{ else if eq (len $parts) 1 }}
        {{/* Top-level package page */}}
        {{ $packageName = index $parts 0 }}
        {{ $moduleName = "" }}
        {{ $resourceName = "" }}
    {{ else }}
        {{ warnf "Unexpected title_tag format at %s: %s" .Page.RelPermalink $titleTag }}
    {{ end }}
{{ else }}
    {{ warnf "No title_tag found for page %s, using defaults" .Page.RelPermalink }}
{{ end }}

{{/* Format module and resource names for display */}}
{{ $moduleDisplay := $moduleName | humanize | title }}
{{ $resourceDisplay := $resourceName | humanize | title }}

{{/* Process content to add schema after each pulumi-choosable block */}}
{{ $processed := $content }}

{{/* Define language mappings - handle both individual languages and combined */}}
{{ $languages := slice "typescript" "python" "go" "csharp" "java" "yaml" "javascript" "javascript,typescript" }}

{{/* Process each language - use a simpler approach */}}
{{ range $lang := $languages }}
    {{/* Determine display name */}}
    {{ $langDisplay := "" }}
    {{ if eq $lang "typescript" }}
        {{ $langDisplay = "TypeScript" }}
    {{ else if eq $lang "javascript" }}
        {{ $langDisplay = "JavaScript" }}
    {{ else if eq $lang "javascript,typescript" }}
        {{ $langDisplay = "JavaScript/TypeScript" }}
    {{ else if eq $lang "python" }}
        {{ $langDisplay = "Python" }}
    {{ else if eq $lang "go" }}
        {{ $langDisplay = "Go" }}
    {{ else if eq $lang "csharp" }}
        {{ $langDisplay = "C#" }}
    {{ else if eq $lang "java" }}
        {{ $langDisplay = "Java" }}
    {{ else if eq $lang "yaml" }}
        {{ $langDisplay = "YAML" }}
    {{ end }}
    
    {{/* Build patterns to match pulumi-choosable blocks with this language */}}
    {{/* Handle both quoted and unquoted attribute values */}}
    {{ $pattern1 := printf `<pulumi-choosable type="language" values="%s">` $lang }}
    {{ $pattern2 := printf `<pulumi-choosable type="language" values=%s>` $lang }}
    {{ $pattern3 := printf `<pulumi-choosable type=language values="%s">` $lang }}
    {{ $pattern4 := printf `<pulumi-choosable type=language values=%s>` $lang }}
    
    {{/* Build the schema markup to insert */}}
    {{ $schemaMarkup := printf `<div class="software-source-code-annotations" style="position: absolute; left: -10000px; width: 1px; height: 1px; overflow: hidden;">
    <div itemscope itemtype="https://schema.org/SoftwareSourceCode">
        <meta itemprop="name" content="Azure %s %s - %s Example" />
        <meta itemprop="description" content="Pulumi %s code example for creating and managing Azure %s %s resources using Infrastructure as Code" />
        <meta itemprop="programmingLanguage" content="%s" />
        <meta itemprop="codeSampleType" content="code snippet" />
        <meta itemprop="keywords" content="Azure, %s, %s, Pulumi, Infrastructure as Code, IaC, %s, Cloud, DevOps" />
        <meta itemprop="runtimePlatform" content="Microsoft Azure" />
        <meta itemprop="targetProduct" content="Pulumi Infrastructure as Code Platform" />
        <meta itemprop="codeRepository" content="https://github.com/pulumi/pulumi-%s" />
        <meta itemprop="license" content="https://github.com/pulumi/pulumi-%s/blob/master/LICENSE" />
        <meta itemprop="author" content="Pulumi" />
        <meta itemprop="isPartOf" content="%s" />
        <div itemprop="text">
            Code snippet for %s available in the adjacent code block.
        </div>
    </div>
</div>` $moduleDisplay $resourceDisplay $langDisplay $langDisplay $moduleDisplay $resourceDisplay $langDisplay $moduleDisplay $resourceDisplay $langDisplay $packageName $packageName $page.Permalink $langDisplay }}
    
    {{/* Replace each pattern - add schema right after the opening tag */}}
    {{/* This ensures the schema is inside the choosable block but doesn't interfere with content */}}
    {{ $replacement1 := printf `%s%s` $pattern1 $schemaMarkup }}
    {{ $replacement2 := printf `%s%s` $pattern2 $schemaMarkup }}
    {{ $replacement3 := printf `%s%s` $pattern3 $schemaMarkup }}
    {{ $replacement4 := printf `%s%s` $pattern4 $schemaMarkup }}
    
    {{ $processed = replace $processed $pattern1 $replacement1 }}
    {{ $processed = replace $processed $pattern2 $replacement2 }}
    {{ $processed = replace $processed $pattern3 $replacement3 }}
    {{ $processed = replace $processed $pattern4 $replacement4 }}
{{ end }}

{{ $processed | safeHTML }}