{{ $packageName := .package.name }}
{{ $href := printf "/registry/packages/%s/" $packageName }}

<div class="featured-package">
    <a href="{{ $href }}" title="{{ .package.title }}">
        <div class="package-logo">
            {{ partialCached "registry/package/icon.html" .package .package.name }}
        </div>
        <div class="package-title">
            {{ .package.title }}
        </div>
        <div class="package-version">
            <span title="Published on {{ time .package.updated_on | time.Format "Monday, Jan 2, 2006" }}">
                {{ .package.version }}
            </span>
        </div>
    </a>
</div>
