<div class="featured-providers r-tiles">
    {{ range $.Site.Data.registry.packages }}
        {{ $status := dict "ga" "Generally Available" "public-preview" "Public Preview" }}
        {{ if eq .featured true }}
            {{ $pkg := .name }}
            <div class="p-4 package">
                <div class="r-tile featured"
                    data-category="{{ lower .category }}"
                    data-status="{{ lower .package_status }}"
                    data-native="{{ .native }}"
                    data-component="{{ .component }}">
                    <div class="r-tile-header">
                        <img class="logo" src="/logos/pkg/{{ $pkg }}.svg" alt="{{ .title }}">
                        <div class="flex-1"></div>
                        <a class="header-link" href="/docs/intro/cloud-providers/{{ $pkg }}" title="{{ .title }}">View Package</a>
                    </div>
                    <div class="r-tile-content">
                        <a class="title-link" href="/docs/intro/cloud-providers/{{ $pkg }}" title="{{ .title }}">
                            {{.title}}
                        </a>
                        <div class="flex flex-col mt-4 text-xs justify-evenly">
                            <span>Last updated on {{ time .updated_on | time.Format ":date_medium" }}</span>
                            <span style="height: 10px"></span>
                            <span>Published by {{ .publisher }}</span>
                        </div>
                        <p class="description text-base">{{.description}}</p>
                        {{ $hasFeaturedProblems := false }}
                        {{ range $.Site.Data.registry.getstarted }}
                        {{ if eq .package $pkg }}
                        {{ $hasFeaturedProblems = true }}
                        <pulumi-accordion>
                            <pulumi-accordion-item slot="item">
                                <div slot="heading" class="heading">How-to Guides</div>
                                <ul class="list">
                                    {{ range .tutorials }}
                                    <li>
                                        <a href="{{ .rel_link }}" title="{{ .name }}">{{ .name }}</a>
                                    </li>
                                    {{ end }}
                                </ul>
                                <svg width="26" height="26" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" slot="collapsed-icon">
                                    <path d="M9 5.44446V12.5556" stroke-width="0.075rem" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M5.44446 9H12.5556" stroke-width="0.075rem" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" slot="expanded-icon">
                                    <path d="M5.44446 9H12.5556" stroke-width="0.075rem" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </pulumi-accordion-item>
                        </pulumi-accordion>
                        {{ end }}
                        {{ end }}
                        {{ if eq $hasFeaturedProblems false }}
                        <div class="flex-1"></div>
                        {{ end }}
                    </div>
                    <div class="r-tile-footer flex flex-row w-full mt-4 text-sm package-tags">
                        <div class="package-tag package-category {{ anchorize .category }}">{{ .category }}</div>
                        {{ if eq .native true }}
                        <div class="package-tag native-package">Native Cloud Provider</div>
                        {{ end }}
                        <div class="package-tag package-status {{ anchorize .package_status }}">{{ index $status .package_status }}</div>
                    </div>
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>
