<div>
    <div class="lg:flex">
        <h3>Amazon Web Services Native Provider</h3>
    </div>

    <div class="lg:flex">
            <div class="lg:w-2/12 lg:px-2">
                <a href="{{ relref . "_index.md" }}">Overview</p>
            </div>
            <div class="lg:w-2/12 lg:px-2">
                <a href="{{ relref . "installation" }}">Installation & Configuration</p>
            </div>
            <div class="lg:w-2/12 lg:px-2">
                <a href="{{ relref . "api" }}">API</p>
            </div>
            <div class="lg:w-2/12 lg:px-2">
                <a href="{{ relref . "how-to" }}">How-to Guides</p>
            </div>
    </div>
</div>