<nav class="top-nav-bar registry transition-all px-4 py-2.5">
    <div class="top-nav-container lg:container lg:px-4 text-white">
        <div data-track="header-pulumi-logo" class="logo-nav-button" aria-haspopup="true" aria-controls="logo-nav-menu">
            <img class="h-6" src="/images/logo/logo-on-black.svg" alt="Pulumi logo">
            <i class="fa fa-chevron-down ml-4 pr-1 hidden lg:block"></i>
            <div class="flex-1"></div>
            <i class="lg:hidden fa fa-bars text-white text-2xl mobile-menu-toggle-icon"></i>
            <i class="lg:hidden hidden fa fa-times text-white text-2xl mobile-menu-toggle-icon"></i>
        </div>
        <ul id="logo-nav-menu" role="menu" class="logo-nav-menu hidden">
            <li role="none"><a role="menuitem" href="/">Pulumi Home</a></li>
            <li role="none"><a role="menuitem" href="{{ relref . "/docs/get-started" }}">Get Started</a></li>
            <li role="none"><a role="menuitem" href="{{ relref . "/cloud-engineering" }}">Cloud Engineering</a></li>
            <li role="none"><a role="menuitem" href="{{ relref . "/product" }}">Products</a></li>
            <li role="none"><a role="menuitem" href="{{ relref . "/pricing" }}">Pricing</a></li>
            <li role="none"><a role="menuitem" href="{{ relref . "/docs" }}">Docs</a></li>
            <li role="none"><a role="menuitem" href="{{ relref . "/blog" }}">Blog</a></li>
            <li role="none"><a role="menuitem" href="{{ relref . "/learn" }}">Learn Pulumi</a></li>
            <li role="none"><a role="menuitem" href="{{ relref . "/resources" }}">Events & Workshops</a></li>
            <ul role="menu" class="sm:hidden">
                <li role="none"><a role="menuitem" href="https://github.com/pulumi/pulumi">GitHub</a></li>
                <li role="none"><a role="menuitem" href="https://slack.pulumi.com">Slack</a></li>
                <li role="none"><a role="menuitem" href="{{ relref . "/registry" }}">Registry</a></li>
                <li role="none"><a role="menuitem" href="https://app.pulumi.com">Sign In</a></li>
            </ul>
        </ul>
        <a class="get-started-header-button" href="{{ relref . " /docs/get-started" }}">Get Started</a>
        <div class="flex-1"></div>
        <ul class="hidden w-full lg:flex lg:w-1/2 justify-end items-center order-first lg:order-last">
            <li class="github-widget mr-8">
                <a data-track="header-github-pulumi" class="github-button" href="https://github.com/pulumi/pulumi"
                   data-size="small" data-show-count="true" aria-label="Star pulumi/pulumi on GitHub">
                    Star
                </a>
            </li>
            <li class="mr-8">
                <a data-track="header-slack" href="https://slack.pulumi.com/">
                    <i class="fab fa-slack"></i>
                    Slack
                </a>
            </li>
            <li class="mr-8">
                <a data-track="header-github" href="{{ relref . "/docs" }}">
                    <i class="fas fa-book mr-0.5"></i>
                    Docs
                </a>
            </li>
            <li class="mr-8">
                <a data-track="header-github" href="{{ relref . "/registry" }}">
                <i class="fas fa-archive mr-0.5"></i>
                Registry
                </a>
            </li>
            <li><a data-track="header-console" href="https://app.pulumi.com/" target="_blank">
                <i class="fas fa-user-circle"></i>
                Sign In
            </a></li>
        </ul>
    </div>
</nav>

<div class="logo-nav-bg-mask hidden"></div>

<header class="registry-hero">
    <div class="dot-background-container">
        <div class="dot-background no-animate"></div>
    </div>
    <div class="dot-overlay"></div>
    <div class="registry-hero-title container mx-auto w-full px-4">
        <a href="{{ relref . "/registry" }}">
            <i class="fas fa-archive title-icon"></i>
        </a>
        <a href="{{ relref . "/registry" }}">
            <h1 class="title-text-content">Pulumi Registry</h1>
        </a>
        <div class="flex-1"></div>
        <script>
            (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
                (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
                e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
            })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

            _st('install','xxxQB1LC9DE212h8eJmh','2.0.0');
        </script>
        <div id="search-container" class="bg-white w-1/3">
            <div id="search-form">
                <form class="relative flex">
                    <i class="fas fa-search absolute inset-y-0 flex items-center pl-3 text-gray-800"></i>
                    <input
                            id="search-query"
                            type="text"
                            class="st-default-search-input py-2 px-4 pl-8 text-sm border border-purple-500 focus:border-blue-500 focus:outline-none rounded transition"
                            placeholder="Search the docs" />
                </form>
            </div>
            <div id="search-results" class="relative">

            </div>
        </div>
    </div>
</header>
