{{ $packageUrl := printf "%s/" (path.Join "/registry/packages" (index (split .Page.File.Path "/") 2)) }}
{{ $installPath := printf "%s/" (path.Join $packageUrl "installation-configuration") }}
{{ $howToPath := printf "%s/" (path.Join $packageUrl "how-to-guides/") }}
{{ $versionGuidePath := printf "%s/" (path.Join $packageUrl "version-guide") }}
{{ $migratePath := printf "%s/" (path.Join $packageUrl "from-classic") }}
{{ $upgradeV2Path := printf "%s/" (path.Join $packageUrl "from-v1-to-v2") }}
{{ $upgradeV3Path := printf "%s/" (path.Join $packageUrl "from-v2-to-v3") }}
{{ $apiDocsPath := printf "%s/" (path.Join $packageUrl "api-docs") }}

<nav class="main-nav">
    {{ partial "docs/search-only.html" . }}
    <div class="all-packages-icon-link">
        <a class="all-packages" href="/registry">
            <div class="icon icon-14-14 arrow-back-gray-14-14"></div>
            All packages
        </a>
    </div>
    <ul>
        {{ $sidenav_selected := "" }}
        {{ $sidenav_selected = cond (eq .Page.RelPermalink $packageUrl) "active" "" }}
        <li class="sidenav-topic {{ $sidenav_selected }}">
            <a href="{{ $packageUrl }}">Overview</a>
        </li>
        {{ $installConfigFile := printf "%s/%s" $packageUrl "installation-configuration.md" }}
        {{ if fileExists $installConfigFile }}
            {{ $sidenav_selected = cond (eq .Page.RelPermalink $installPath) "active" "" }}
            <li class="sidenav-topic {{ $sidenav_selected }}">
                <a href="{{ $installPath }}">Install & config</a>
            </li>
        {{ end }}
        {{ $sidenav_selected = cond (eq .Page.RelPermalink $howToPath) "active" "" }}
        {{ if .GetPage $howToPath }}
            <li class="sidenav-topic {{ $sidenav_selected }}">
                    {{ $guidesCount := 0 }}
                    {{ with .GetPage $howToPath }}
                        {{ $guidesCount = len .Pages }}
                    {{ end }}

                    <a href="{{ $howToPath }}">
                        How-to guides
                        {{ if ge $guidesCount 1 }}
                            <span class="count-badge">{{ $guidesCount }}</span>
                        {{ end }}
                    </a>
            </li>
        {{ end }}
        {{ $sidenav_selected = cond (eq .Page.RelPermalink $versionGuidePath) "active" "" }}
        {{ if .GetPage $versionGuidePath }}
            <li class="sidenav-topic {{ $sidenav_selected }}">
                <a href="{{ $versionGuidePath }}">Version guide</a>
            </li>
        {{ end }}
        {{ $sidenav_selected = cond (eq .Page.RelPermalink $migratePath) "active" "" }}
        {{ if .GetPage $migratePath }}
            <li class="sidenav-topic {{ $sidenav_selected }}">
                <a href="{{ $migratePath }}">Migrate from classic</a>
            </li>
        {{ end }}
        {{ $sidenav_selected = cond (eq .Page.RelPermalink $upgradeV2Path) "active" "" }}
        {{ if .GetPage $upgradeV2Path }}
            <li class="sidenav-topic {{ $sidenav_selected }}">
                <a href="{{ $upgradeV2Path }}">Upgrade to v2</a>
            </li>
        {{ end }}
        {{ $sidenav_selected = cond (eq .Page.RelPermalink $upgradeV3Path) "active" "" }}
        {{ if .GetPage $upgradeV3Path }}
            <li class="sidenav-topic {{ $sidenav_selected }}">
                <a href="{{ $upgradeV3Path }}">Upgrade to v3</a>
            </li>
        {{ end }}
        {{ $sidenav_selected = cond (eq .Page.RelPermalink $apiDocsPath) "active" "" }}
        {{ if .GetPage $apiDocsPath }}
            <li class="sidenav-topic {{ $sidenav_selected }}">
                <a href="{{ $apiDocsPath }}">API Docs</a>
            </li>
        {{ end }}
        {{ partial "registry/left-nav.html" . }}
    </ul>
</nav>
