{{ $packageName := .package.name }}
{{ $href := printf "/registry/packages/%s" $packageName }}

<div class="package my-4 lg:w-1/2 px-4">
    <div class="rounded-xl shadow-lg border border-gray-200 h-full relative">
        <div class="p-8"
            data-provider="{{ if ne .package.component true }}true{{ else }}false{{ end }}"
            data-native="{{ if eq .package.native true }}true{{ else }}false{{ end }}"
            data-component="{{ if eq .package.component true }}true{{ else }}false{{ end }}"
            data-type="{{ if .package.component }}component{{ else if .package.native }}native-provider{{ else }}provider{{ end }}"
            data-category="{{ lower .package.category }}"
            >
            <div class="flex flex-wrap">
                <div class="flex w-full items-center justify-between mb-4">
                    <a href="{{ $href }}">
                        {{ partial "registry/package/icon.html" .package }}
                    </a>
                    <a href="{{ $href }}" class="hidden md:block whitespace-nowrap ml-4 text-sm text-blue-600 font-semibold hover:underline">
                        View package
                    </a>
                </div>
                <div class="w-full">
                    <h3 class="text-gray-900">
                        <a href="{{ $href }}" title="{{ .package.title }}" class="hover:text-blue-600 hover:underline">
                            {{ .package.title }}
                        </a>
                    </h3>
                    <div class="text-sm font-display text-gray-800 leading-relaxed mb-2">
                        {{ .package.version }} published on
                        <time>{{ time .package.updated_on | time.Format "Mon Jan 2 2006" }}</time>
                        by {{ .package.publisher }}
                    </div>

                    {{ if .featured }}
                        <p>
                            <span class="text-gray-900 font-display">
                                {{ .package.description }}
                            </span>
                        </p>
                        {{ if .howtos }}
                            <pulumi-accordion class="my-4 text-base rounded bg-white border-2 border-gray-900 group hover:bg-gray-900 hover:text-white transition-all">
                                <pulumi-accordion-item slot="item" class="text-base pl-1">
                                    <div slot="heading" class="text-base group-hover:text-white whitespace-nowrap">Featured How-to Guides</div>
                                    <i slot="collapsed-icon" class="far fa-plus-square"></i>
                                    <i slot="expanded-icon" class="far fa-minus-square"></i>
                                    <ul class="m-0 p-0 list-none">
                                        {{ range .howtos }}
                                            <li class="mt-0">
                                                <a class="underline" href="{{ .rel_link }}">{{ .name }}</a>
                                            </li>
                                        {{ end }}
                                    </ul>
                                </pulumi-accordion-item>
                            </pulumi-accordion>
                        {{ end }}
                    {{ end }}

                    <!-- Fixed-height spacer accounts for the minimum space required by the tags. -->
                    <div class="h-14"></div>

                    <!-- Tags are anchored to the bottom of the card. -->
                    <ul class="package-tags mt-2 absolute bottom-8">
                        <li class="package-tag-type">
                            {{ if .package.native }}
                                Native Provider
                            {{ else if .package.component }}
                                Component
                            {{ else }}
                                Provider
                            {{ end }}
                        </li>
                        <li class="package-tag-category">{{ .package.category }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
