@import url("https://unpkg.com/swiper@12.1.2/swiper-bundle.min.css");

pulumi-swiper {
    .swiper {
        @apply w-full h-full overflow-visible;
        overflow: visible !important;
    }

    .swiper-slide {
        @apply text-center flex items-center justify-center;
    }
}
