name: Build and deploy
on:
  push:
    branches:
      - master
permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
jobs:
  build:
    name: Build
    env:
      GOPATH: ${{ github.workspace }}/go
    runs-on: ubuntu-22.04-8core
    environment: production
    steps:
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19.x

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.111.0'
          extended: true

      - name: Check out branch
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PULUMI_BOT_TOKEN }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::571684982431:role/ContinuousDelivery
          role-session-name: docs-deploy
          role-duration-seconds: 7200
          aws-region: us-west-2

      - name: Install Pulumi CLI
        uses: pulumi/actions@v4

      - name: Fetch the latest sibling modules
        run: |
          hugo mod get github.com/pulumi/pulumi-hugo/themes/default
          hugo mod tidy

      - name: Commit any changes to go.mod/go.sum
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: go.*
          commit_user_name: pulumi-bot
          commit_user_email: bot@pulumi.com
          commit_message: Update go.mod

      - name: Build and deploy
        run: make ci_push
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ALGOLIA_APP_ID: ${{ vars.ALGOLIA_APP_ID }}
          ALGOLIA_APP_SEARCH_KEY: ${{ vars.ALGOLIA_APP_SEARCH_KEY }}
          ALGOLIA_APP_ADMIN_KEY: ${{  secrets.ALGOLIA_APP_ADMIN_KEY }}
          PULUMI_STACK_NAME: ${{ vars.PULUMI_STACK_NAME }}
          PULUMI_DOCS_STACK_NAME: ${{ vars.PULUMI_DOCS_STACK_NAME }}
          NODE_OPTIONS: "--max_old_space_size=8192"

      - name: Archive bucket metadata
        uses: actions/upload-artifact@v2
        with:
          name: origin-bucket-metadata
          path: origin-bucket-metadata.json

  notify:
    if: failure()
    name: Send slack notification
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Slack Notification
        uses: docker://sholung/action-slack-notify:v2.3.0
        env:
          SLACK_CHANNEL: docs-ops
          SLACK_COLOR: "#F54242"
          SLACK_MESSAGE: "build and deploy failure in pulumi/registry repo :meow_sad:"
          SLACK_USERNAME: registrybot
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_ICON: https://www.pulumi.com/logos/brand/avatar-on-white.png
