<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
    {{ partial "head.html" . }}
    <body class="flex items-center justify-center min-h-screen">
        <div class="card p-8 text-center">
            <h1 class="no-anchor">404</h1>
            <h3 class="no-anchor">
                Sorry, the page you're looking for could not be found.
            </h3>
            <p>
                Try visiting our
                <a href="/" class="text-violet-primary">homepage</a> instead.
            </p>
        </div>
    </body>
</html>
